<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Students</title>
</head>
<body>
<h1>Students Information</h1>
<table>
    <thead>
    <tr>
        <th>Student Code</th>
        <th>Full Name</th>
        <th>Address</th>
        <th>Subject</th>
        <th>Score 1</th>
        <th>Score 2</th>
        <th>Grade</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="student : ${students}">
        <td th:text="${student.studentCode}"></td>
        <td th:text="${student.fullName}"></td>
        <td th:text="${student.address}"></td>
        <td>
            <ul>
                <li th:each="score : ${student.scores}">
                    <span th:text="${score.subject.subjectName}"></span> -
                    <span th:text="${score.score1}"></span> /
                    <span th:text="${score.score2}"></span> -
                    <span th:text="${score.grade}"></span>
                </li>
            </ul>
        </td>
        <td><a th:href="@{/students/addScore/{id}(id=${student.studentId})}">Add Score</a></td>
    </tr>
    </tbody>
</table>
<a href="/students/add">Add New Student</a>
</body>
</html>
